<div class="container-fluid mx-0 px-0 border border-secondary rounded"
    [class.bg-secondary]="isHovering && isInViewedMonth"
    [class.bg-body-tertiary]="!isHovering && isInViewedMonth"
    [class.text-white]="isHovering && isInViewedMonth"
    [class.text-muted]="!isInViewedMonth && !isHovering"
    [class.bg-dark-subtle]="!isInViewedMonth && !isHovering"
    [class.bg-body-secondary]="isHovering && !isInViewedMonth"
    [ngStyle]="{'border-radius': isHovering ? '5px' : '0'}"
    style="margin-top: 5px; margin-bottom: 5px;">
    <div (click)="activateTask()" class="day-box">
        <!-- <p>{{state}}</p> -->
        <div>
            <div *ngIf="status">
                <app-task [task]="currentTask"></app-task>
            </div>
            <div *ngIf="!status">
                <div *ngFor="let task of tasks"
                    style="padding-left: 5px; padding-top: 3px;">
                    <span class="badge rounded-pill bg-primary"
                        (click)="setCurrentTask(task)" style="cursor: pointer">
                        {{(task.name.length > 30) ? (task.name | slice:0:27) +
                        '...' : task.name}}
                    </span>
                </div>
            </div>
        </div>
        <div class="text-end"
            style="padding-right: 6px; padding-bottom: 4px; font-size: large;">
            <div *ngIf="!isHovering">{{day.day}}</div>
            <div *ngIf="isHovering">
                <button class="btn bg-transparent" style="padding: 0px;"
                (click)="this.showAddEvent=true">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        width="23" height="23" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16"
                        [ngStyle]="{'color': (this.themeService.isLightTheme() && this.isInViewedMonth) ? 'white' : null}">
                        <path
                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<app-add-event [date]="day.date" *ngIf="this.showAddEvent" (modalClosed)="this.showAddEvent=false"></app-add-event>