.day-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.dark-text {
    color: #000;
}

.light-text {
    color: #fff;
}

/* .day-box > div {
    overflow: hidden;
} */