<div class="container-fluid mx-0 px-0 border border-secondary rounded"
    [class.bg-secondary]="isHovering && isInViewedMonth"
    [class.bg-body-tertiary]="!isHovering && isInViewedMonth"
    [class.text-white]="isHovering && isInViewedMonth"
    [class.text-muted]="!isInViewedMonth && !isHovering"
    [class.bg-dark-subtle]="!isInViewedMonth && !isHovering"
    [class.bg-body-secondary]="isHovering && !isInViewedMonth"
    [ngStyle]="{'border-radius': isHovering ? '5px' : '0'}"
    style="margin-top: 5px; margin-bottom: 5px;">
    <div (click)="activateTask()" class="day-box">
        <!-- <p>{{state}}</p> -->
        <div>
            <div *ngIf="status">
                <app-task [task]="currentTask"></app-task>
            </div>
            <div *ngIf="!status">
                <div *ngFor="let task of tasks"
                    style="padding-left: 5px; padding-top: 3px;">
                    <span class="badge rounded-pill bg-primary"
                        (click)="setCurrentTask(task)" style="cursor: pointer">
                        {{(task.name.length > 30) ? (task.name | slice:0:27) +
                        '...' : task.name}}
                    </span>
                </div>
            </div>
        </div>
        <div class="text-end"
            style="padding-right: 6px; padding-bottom: 4px; font-size: large;">{{day.day}}
        </div>
    </div>
</div>