<div *ngIf="task" class="card task-box">
    <div class="card-header">
        <h3 class="card-title" style="margin-bottom: 0px; font-weight: 500;">{{task.name}}</h3>
    </div>
    <div class="card-body">
        <p class="card-text" *ngIf="task.description">Description: {{task.description}}</p>
        <p class="card-text" *ngIf="task.deadline">Deadline: {{task.deadline | date:'mediumDate'}}</p>
        <p class="card-text">Status: {{task.completed ? 'Completed' : 'Pending'}}</p>
        <p class="card-text" *ngIf="task.priority">Priority: {{task.priority}}</p>
        <p class="card-text" *ngIf="task.tags && task.tags.length > 0">Tags: {{task.tags.join(', ')}}</p>
        <p class="card-text" *ngIf="task.completeDate">Complete Date: {{task.completeDate | date:'mediumDate'}}</p>
        <p class="card-text" *ngIf="task.createdAt">Created At: {{task.createdAt | date:'mediumDate'}}</p>
        <p class="card-text" *ngIf="task.master">Master Task ID: {{task.master}}</p>
        <div *ngIf="task.subtasks && task.subtasks.length > 0">
            <p class="card-text">Subtasks:</p>
            <ul>
                <li *ngFor="let subtask of task.subtasks">{{subtask.name}}</li>
            </ul>
        </div>
        <!-- Button to add subtasks -->
        <button type="button btn-small" class="btn btn-secondary btn-sm" (click)="this.showAddTask=true">Add Subtask</button>
    </div>
</div>
<app-add-task [master]="task?.id" *ngIf="this.showAddTask" (modalClosed)="this.showAddTask=false"></app-add-task>