<div class="container-fluid">
    <div class="row">
        <div class="col-10 align-items-center">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <mat-icon (click)="decMonth()"
                        class="chevron">chevron_left</mat-icon>
                </div>
                <div class="col-md-auto">
                    <h1 class="text-center">{{getMonth().toUpperCase()}}</h1>
                </div>
                <div class="col-md-auto">
                    <mat-icon (click)="incMonth()"
                        class="chevron">chevron_right</mat-icon>
                </div>
            </div>
            <app-grid [year]="year" [monthNumber]="month"></app-grid>
        </div>
        <div class="col">
            <h1>upcoming tasks</h1>
        </div>
    </div>
</div>
